/* Asegura que la app ocupe toda la ventana */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  /* quita márgenes del body */
}

/* Elimina el centrado/limitación del template de Vite */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}